@model IEnumerable<SurveyDemo.Models.Interaction>

@{
    ViewBag.Title = "Send Surveys";
}

<h2>ToBeSent</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.contactID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.custID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.channel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surveySent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.contactID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.custID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.channel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surveySent)
        </td>
        <td>
            @Html.ActionLink("Send Survey", "Create", new {contactID=item.contactID })
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
