@model IEnumerable<SurveyDemo.Interact>

@{
    ViewBag.Title = "ToBeSent";
}

<h2>ToBeSent</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.uuid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_custId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_empId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.uuid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_custId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_empId)
        </td>
        <td>
            @Html.ActionLink("Send Survey", "Create", new { contactID = item.interactId })

            @*@Html.ActionLink("Edit", "Edit", new { id=item.interactId }) |
            @Html.ActionLink("Details", "Details", new { id=item.interactId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.interactId })*@
        </td>
    </tr>
}

</table>
