@model IEnumerable<SurveyDemo.Models.InteractView>

@*@ViewContext.RouteData.GetRequiredString("action"); --- to get the action that called this view. "controller" to find which ctrlr called this view: http://stackoverflow.com/questions/6398189/getting-current-controller-action-from-within-partial-view*@

@{
    ViewBag.Title = "ToBeSent";
}

<h2>ToBeSent</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InteractId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surveySent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uuid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InteractId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surveySent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uuid)
        </td>
        <td>
            @if(ViewContext.RouteData.GetRequiredString("action") == "ToBeSent")
            {
                @Html.ActionLink("Send Survey", "Create", new { contactID = item.InteractId });
            }
            
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
